#div1{
    height: 300px;
    width: 300px;
    background-color: greenyellow;
    font-size: 4rem;
    display: flex;
    align-items: center;
    text-align: center;
}

#bulb{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 20px;

}

.on{
    background-color: yellow;
}

.off{
    background-color: grey;
}