<%- include("partials/header.ejs") %>


<h1 class="who">Who are we?</h1>

<div class="description">
   <p class="p1">
We’re a creative team obsessed with storytelling — but not just any stories. We specialise in crafting short, random, and fully customisable tales that surprise, entertain, and spark imagination. Whether you’re looking for a quick laugh, a quirky twist, or a personalised adventure, we turn simple prompts into unique narratives. Our goal? To make storytelling fun, fast, and tailored to you.
</p> 
</div>


<div class="image-row">
<img src="/images/team.png" alt="Team">
<img src="/images/shortStory.png" alt="Short Story">

<%- include("partials/footer.ejs") %>
</div>